# Ignore virtual environments
venv/
env/

# Ignore datasets and raw files
*.csv
*.xlsx
*.xls
*.parquet
*.json
*.zip
*.rar

data/
artifacts/
datasets/
raw_data/

# Ignore model training logs
catboost_info/
logs/
*.log
*.txt

# Ignore temporary files
__pycache__/
*.pyc
.DS_Store

# Ignore very large model files (keep only small pkl)
models/*.h5
models/*.bin
models/*.joblib
models/*.model

# Keep small .pkl files (IMPORTANT)
!models/*.pkl

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore OS files
Thumbs.db
desktop.ini
